<div class="list-container">
  <div class="note-list-content" [class.no-items-content]="notes.length === 0">
    <mat-action-list class="notes-list" *ngIf="notes.length>0; else noItems" [disableRipple]="false">
      <ng-container>
        <div *ngFor="let note of notes"
             class="row-container" [ngClass]="{'selected-item': note.id === selectedRowId}">
          <app-notes-row [note]="note" [searchTerm]="searchTerm" (click)="onNoteClicked(note)"></app-notes-row>
        </div>
      </ng-container>
    </mat-action-list>
    <ng-template #noItems>
      <span>{{ 'No Items are present, please click on create button to create a notes' }}</span>
    </ng-template>
  </div>
</div>

